<!DOCTYPE html>
<html>
<head>
  <title>New Appointment</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    form {
      max-width: 400px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    select,
    input[type="datetime-local"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 15px;
    }

    .actions {
      text-align: center;
    }

    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <%= form_with(model: [patient, appointment], url: patient_appointments_path(current_patient), local: true) do |form| %>
    <form>
      <div>
        <%= form.label :doctor_id %>
        <%= form.collection_select :doctor_id, Doctor.all, :id, :name, prompt: "Select a Doctor" %>
      </div>

      <div>
        <%= form.label :appointment_time %>
        <%= form.datetime_select :appointment_time %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </form>
  <% end %>
</body>
</html>
